<p class="text-center fs-5 mt-3 text-light">Comandas Tech</p>
<ul class="list-group list-group-flush">
  <a class="list-group-item text-light menu-item border-0 mb-1" href="/pages/inicio/">Início</a>
  <a class="list-group-item text-light menu-item border-0 mb-1" href="/pages/comandas/lista.html">Comandas</a>
  <a class="list-group-item text-light menu-item border-0 mb-1" href="/pages/cardapio/lista.html">Cardapio</a>
  <a class="list-group-item text-light menu-item border-0 mb-1" href="/pages/configuracao/">Configuração</a>
</ul>