<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lens</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item pb-1 py-md-2">
          <a class="nav-link" href="/pages/inicio/">Início</a>
        </li>
        <li class="nav-item pb-1 py-md-2">
          <a class="nav-link" href="/pages/vendas/">Vendas</a>
        </li>
        <li class="nav-item pb-1 py-md-2">
          <a class="nav-link" href="/pages/estoque/">Estoque</a>
        </li>
        <li class="nav-item pb-1 py-md-2">
          <a class="nav-link" href="/pages/configuracao/">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>